.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header.on {
    background: rgba(0, 0, 0, 0.7);
}

.header h1 {
    width: 200px;
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 80px;
}

.gnb>ul {
    display: flex;
    gap: 50px;
}

.gnb a {
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 20px;

}

.header .customer_link {
    width: 200px;
}

.header .customer_link a {
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}





.main_visual {
    position: relative;
    z-index: 1;
    border-radius: 0 0 200px 0;
    overflow: hidden;
}

.main_visual::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.2);
}

.main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;

}

.main_visual h2 {
    margin: 0 0 30px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.main_visual h2 strong {
    display: block;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.main_visual h2 span {
    display: block;
    font-size: 60px;
    font-weight: 700;
}

.main_visual p {
    max-width: 400px;
    margin: 0 auto;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
}

.main_visual .main_slide .itm01 {
    height: 100vh;
    background: url(../images/bg_intro01.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm02 {
    height: 100vh;
    background: url(../images/bg_intro02.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm03 {
    height: 100vh;
    background: url(../images/bg_intro03.jpg) no-repeat center center/cover;
}


.main_visual .slick-dots {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}


.main_visual .slick-dots>li {
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
}

.main_visual .slick-dots>li button {
    position: relative;
    width: 80px;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 2px;

    border: none;
    font-size: 0;
}

.main_visual .slick-dots>li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4088e6;
}

.main_visual .slick-dots>li.slick-active button::after {
    width: 100%;
    transition: 3s;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 1400px;
    width: 100%;
}

.main_visual .arrows i {
    padding: 25px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.5;
}

.main_visual .arrows .left {
    position: absolute;
    left: 0;
    top: 0;

}

.main_visual:hover .arrows .left {
    transform: translate(30px, 0);
    opacity: 0.8;
}

.main_visual .arrows .right {
    position: absolute;
    right: 0;
    top: 0;
}

.main_visual:hover .arrows .right {
    transform: translate(-30px, 0);
    opacity: 0.8;
}

.main_visual .scroll {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.main_visual .scroll span {
    position: relative;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.main_visual .scroll span::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 1px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, 0);
}

.main_visual .scroll span::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 1);
    transform: translate(-50%, 0);
    border-radius: 50%;

    animation: circle 1.5s infinite cubic-bezier(1, .13, .68, .73);
}

@keyframes circle {
    0% {
        transform: translate(-50%, 0);
    }

    80% {
        outline: 0 solid rgba(64, 136, 230, 1);
    }

    100% {
        transform: translate(-50%, 100px);
        outline: 30px solid rgba(64, 136, 230, 0);
    }
}



.main_content .tit {
    margin: 0 auto 30px auto;
    text-align: center;
}

.main_content h2 strong {
    display: block;
    font-size: 14px;
    margin: 0 0 10px 0;

}

.main_content h2 span {
    font-size: 40px;
    font-weight: 500;
    color: #866750;
}

.main_content .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.main_content figure {
    text-align: center;

}

.main_content .img_box {
    position: relative;
    margin: 0 0 20px 0;
}

.main_content .img_box::after {
    content: attr(data-title);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 30px;
    color: #fff;
    background: #866750;
    text-align: center;
}

.main_content .title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
}



.main_event {
    padding: 100px 0 400px 0;
    background: url(../images/bg_main2.jpg) no-repeat left bottom/cover;
}

.main_event h2 {
    color: #fff;
}

.main_event h2 span {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

.main_event .tit {
    margin: 0 auto 27px auto;
}

.main_event .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.main_event .itm {
    padding: 30px 30px;
    background: rgba(64, 136, 230, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 30px;
}

.main_event .itm h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.main_event .itm p {
    font-weight: 300;
}


.footer {
    padding: 80px 0;
    font-size: 15px;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 0 5px 0;
}

.footer ul li {
    position: relative;
}

.footer ul li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(50%, -50%);
    width: 2px;
    height: 2px;
    background: #999;
}

.footer address {
    text-align: center;
}

.footer .title {
    position: relative;
    padding: 40px 0;
    font-size: 50px;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    color: #999;

    width: 900px;
    margin: 0 auto;
}

.footer .title span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.footer .title span::after {
    content: "“고품격 휴식을 누리는 곳, 카시아 속초”";
    position: absolute;
    top: 0;
    left: 0;
    color: #444;

    width: 25px;
    white-space: nowrap;
    overflow: hidden;

    border-right: 1px solid #444;
    /* transition: 3s;
    transition-timing-function: steps(16, end); */
    animation: tt 3s infinite steps(16, end);
    /* animation-timing-function: steps(16, end); */
}

.footer .title:hover span::after {
    width: 900px;
}

@keyframes tt {
    0% {
        width: 0;
    }

    100% {
        width: 900px;
    }
}

.tbtn {
    display: inline-block;
    padding: 5px 0;
    width: 15px;
    font-size: 15px;
    white-space: nowrap;

}

.tbtn span {
    display: inline-block;
    border: 1px solid #fff;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.tbtn:hover span {
    width: 50px;
}

.tbtn i {
    vertical-align: 5px;
}